# Python cache files
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache/

# Poetry
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# IDE
.idea/
*.swp
*.swo

# logs
logs/

# Temporary files
.temp_*
*.applescript

# qBittorrent
config/
downloads/

# macOS system files
.DS_Store
